<div id="ticketVenta" class="ticket-impresion" style="font-family: Roboto Condensed, Arial, sans-serif;">

  <!-- Encabezado -->
  <app-ticket-header
          [nombreFarmacia]="venta.farmacia.nombre"
          [titulo1]="venta.farmacia.titulo1"
          [titulo2]="venta.farmacia.titulo2"
          [imagen]="venta.farmacia.imagen"
          [direccion]="venta.farmacia.direccion"
          [telefono]="venta.farmacia.telefono">
  </app-ticket-header>

  <!-- Tabla de productos -->
  <table class="productos lineBottom">
    <colgroup>
      <col class="col-unit" />
      <col class="col-cant" />
      <col class="col-promo" />
      <col class="col-importe" />
    </colgroup>

    <thead>
      <tr>
        <th colspan="4">PRODUCTO</th>
      </tr>
      <tr class="lineBottom">
        <th>P.U.</th>
        <th>CAN</th>
        <th class="th-promo">PROMO</th>
        <th>IMPORTE</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let p of venta.productos" style="font-size: 16px;">
        <tr>
          <td colspan="4">
            <span class="producto-nombre">
              {{ p.barrasYNombre || p.producto?.nombre }}
            </span>
          </td>
        </tr>
        <tr>
          <td>${{ p.precioOriginal | number:'1.2-2' }}</td>
          <td>{{ p.cantidad }}</td>
          <td class="promo-cell">
            <span class="promo-value">
              {{ p.descuento > 0 ? p.tipoDescuento : '' }}
            </span>
          </td>
          <td class="importe-cell">${{ (p.precioOriginal * p.cantidad) | number:'1.2-2' }}</td>
        </tr>

        <tr>
          <td *ngIf="p.cadenaDescuento != ''" colspan="3">Desc. {{ p.cadenaDescuento }}</td>
          <td *ngIf="p.descuento > 0" colspan="1" class="text-right">
            <strong>${{ p.descuento | number:'1.2-2' }}</strong>
          </td>
        </tr>
      </ng-container>
    </tbody>

  </table>

  <!-- Totales -->
  <div class="totales-line lineBottom">
    <div>Cantidad de productos: <strong>{{ venta.cantidadProductos }}</strong></div>
    <div>Total: <strong>${{ venta.total | number:'1.2-2' }}</strong></div>
  </div>

  <div class="totales">
    <div>Cambio: <strong>${{ venta.elcambio | number:'1.2-2' }}</strong></div>

    <div *ngIf="venta.formaPago.vale" class="text-right">Felicidades!!! usted usó su monedero:
      <strong>${{ venta.formaPago.vale | number:'1.2-2' }}</strong>
    </div>
    <div *ngIf="venta.totalDescuento > 0">Usted ahorró:
      <strong>${{ venta.totalDescuento | number:'1.2-2' }}</strong>
    </div>
    <div *ngIf="venta.totalMonederoCliente > 0 && venta.cliente">Abonó a su monedero:
      <strong>${{ venta.totalMonederoCliente | number:'1.2-2' }}</strong>
    </div>
    <div *ngIf="venta.AsiQuedaMonedero > 0 && venta.cliente">Su monedero ahora cuenta con:
      <strong>${{ venta.AsiQuedaMonedero | number:'1.2-2' }}</strong>
    </div>
  </div>


  <!-- Info general -->
  <div class="info-general lineBottom">
    <div style="font-size: 18px;">Folio: {{ venta.folio }}</div>
    Fecha: {{ venta.fecha | date:'dd/MM/yyyy HH:mm' }} hrs.<br />
    Atendió: {{ venta.usuario }}<br />
    Cliente: {{ venta.cliente || 'Público general' }}
  </div>


  <app-ticket-footer></app-ticket-footer>
</div>