<!-- surtir-farmacia.component.html -->
<div class="surtir-farmacia">
  <div class="titulo-container">
    <p class="titulo">Surtir Farmacias</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onAceptar()" style="border-bottom:2px solid #0453b3; padding-bottom: 1rem;">
    <label>
      <span class="subtitulo">Farmacia:</span>
      <select formControlName="farmaciaId">
        <option [ngValue]="null">-- Selecciona --</option>
        <option *ngFor="let f of farmacias" [ngValue]="f._id">
          {{ f.nombre }}
        </option>
      </select>
    </label>
    <button type="submit" class="btn-gris" [disabled]="form.invalid || cargando || pendientes.length > 0">
      {{ cargando ? 'Cargando…' : 'Aceptar' }}
    </button>
  </form>

  <table *ngIf="pendientes.length" class="tabla">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cód. Barras</th>
        <th>Existencia</th>
        <th>Stock Mínimo</th>
        <th>Stock Máximo</th>
        <th>Cantidad a Surtir</th>
        <th>Disponible Almacen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pagedRows">
        <td>{{ p.nombre }}</td>
        <td>{{ p.codigoBarras }}</td>
        <td>{{ p.existenciaActual }}</td>
        <td>{{ p.stockMin }}</td>
        <td>{{ p.stockMax }}</td>
        <td class="falta">{{ p.falta }}</td>
        <td>{{ p.disponibleEnAlmacen }}</td>
      </tr>
    </tbody>
  </table>

  <div class="paginacion" *ngIf="totalItems > 0">
    <button (click)="goFirst()" [disabled]="page === 1" title="Inicio">
      <i class="fa fa-angle-double-left"></i>
    </button>
    <button (click)="goPrev()" [disabled]="page === 1" title="Anterior">
      <i class="fa fa-angle-left"></i>
    </button>

    Página {{ page }} de {{ totalPages }} — {{ totalItems }} registros

    <button (click)="goNext()" [disabled]="page === totalPages" title="Siguiente">
      <i class="fa fa-angle-right"></i>
    </button>
    <button (click)="goLast()" [disabled]="page === totalPages" title="Fin">
      <i class="fa fa-angle-double-right"></i>
    </button>
  </div>


  <div *ngIf="pendientes.length" class="botones-accion">
    <button (click)="onCancelar()" class="btn-rojo">Cancelar</button>
    <button (click)="onSurtir()" class="btn-verde a-la-derecha">Surtir</button>
  </div>
</div>