<!-- PRODUCTO -->
<div *ngIf="producto" class="producto-info">
  <h3>{{ producto.nombre }}</h3>
  <p class="cb"><b>CB:</b> {{ producto.codigoBarras }}</p>
  <p class="cb"><b>Categoría:</b> {{ producto.categoria }}</p>
</div>

<hr>

<!-- LOTES DEL ALMACÉN -->
<div *ngIf="farmaciaId === 'almacen'">
  <app-lotes [productoId]="productoId"></app-lotes>
</div>


<!-- EXISTENCIA (SOLO FARMACIA) -->
<div *ngIf="farmaciaId !== 'almacen'" class="existencia-box">
  <div class="existencia-edicion">
    <label>Existencia física:</label>

    <input
      #inputExistencia
      type="number"
      [(ngModel)]="nuevaExistencia"
      class="input-existencia"
      [ngClass]="{ 'input-error': campoInvalido }"
      maxlength="3"
      (keydown.enter)="guardar()"
      (input)="campoInvalido = (nuevaExistencia === null || nuevaExistencia === undefined || nuevaExistencia < 0)"
    />

    <button class="btn-guardar-ex" (click)="guardar()">Guardar</button>
  </div>
</div>

<hr>

<div class="acciones-finales">
  <button class="btn-siguiente" (click)="siguiente()">Siguiente</button>
  <button class="btn-salir" (click)="salir()">{{ botonSalirTexto }} </button>
</div>
