<!-- corte-caja-ticket.component.html -->
<!-- <div class="ticket-corteCaja" style="font-family: Roboto Condensed, Arial, sans-serif;">
  <app-ticket-header
    [nombreFarmacia]="datosCorte.nomFarm"
    [direccion]="datosCorte.dirFarm"
    [telefono]="datosCorte.telFarm"
    [imagen]="datosCorte.imgFarm"
    [titulo1]="datosCorte.ti1Farm"
    [titulo2]="datosCorte.ti2Farm">
  </app-ticket-header>

  <div class="corte-caja-encabezado">
    <div style="text-align: center; font-size: large;">Corte de Caja</div>
    <strong>{{ datosCorte.responsable }}</strong><br>
    Inicio: <strong>{{ datosCorte.fechaInicio | date:'dd/MM/yyyy HH:mm' }}</strong><br>
    Fin: <strong>{{ datosCorte.fechaFin | date:'dd/MM/yyyy HH:mm' }}</strong><br>
  </div>

  <hr>

  <div class="corte-caja-datos">
    <p style="font-style: italic;">Movimientos</p>
    Ventas: <strong>{{ datosCorte.ventasRealizadas }}</strong><br>
    Devoluciones: <strong>{{ datosCorte.devolucionesRealizadas }}</strong><br>
    Pedidos levantados: <strong>{{ datosCorte.pedidosLevantados }}</strong><br>
    Pedidos entregados: <strong>{{ datosCorte.pedidosEntregados }}</strong><br>
    Pedidos cancelados: <strong>{{ datosCorte.pedidosCancelados }}</strong><br><br>
    
    <p style="font-style: italic;">Recargas telefónicas</p>
    Saldo inicial: <strong>${{ datosCorte.saldoInicialRecargas }} </strong><br>
    Saldo final: <strong>${{ datosCorte.saldoInicialRecargas - datosCorte.totalRecargas }} </strong>
  </div>

  <hr>
  <app-ticket-footer></app-ticket-footer>
</div>
 -->

<!-- VERSIÓN CHINGONA, DESCOMENTAR CUANDO LA PIDAN -->

<div class="ticket-corteCaja" style="font-family: Roboto Condensed, Arial, sans-serif; font-size: 14px;">

  <app-ticket-header [nombreFarmacia]="datosCorte.nomFarm" [direccion]="datosCorte.dirFarm"
    [telefono]="datosCorte.telFarm" [imagen]="datosCorte.imgFarm" [titulo1]="datosCorte.ti1Farm"
    [titulo2]="datosCorte.ti2Farm">
  </app-ticket-header>

  <div style="text-align:center; margin:6px 0;">
    <strong style="font-size:14px;">CORTE DE CAJA</strong><br>
    <strong>{{ datosCorte.responsable }}</strong><br>
    Inicio: {{ datosCorte.fechaInicio | date:'dd/MM/yyyy HH:mm' }}<br>
    Fin: {{ datosCorte.fechaFin | date:'dd/MM/yyyy HH:mm' }}
  </div>

  <div class="lineBottomGray">
    <strong>Movimientos</strong><br>
    Ventas realizadas: {{ datosCorte.ventasRealizadas }}<br>
    Devoluciones: {{ datosCorte.devolucionesRealizadas }}<br>
    Pedidos levantados: {{ datosCorte.pedidosLevantados }}<br>
    Pedidos entregados: {{ datosCorte.pedidosEntregados }}<br>
    Pedidos cancelados: {{ datosCorte.pedidosCancelados }}
  </div>

  <div class="lineBottomGray">
    <strong>Efectivo</strong><br>
    Inicial: ${{ datosCorte.efectivoInicial | number:'1.2-2' }}<br>

    Ingresos efectivo:
    ${{ (datosCorte.ventasEfectivo + datosCorte.pedidosEfectivo) | number:'1.2-2' }}<br>

    Egresos efectivo:
    ${{ (datosCorte.devolucionesEfectivo + datosCorte.pedidosCanceladosEfectivo) | number:'1.2-2' }}<br>

    <div style="text-align: end;">
      <strong>
        Efectivo final en caja:
        ${{ datosCorte.totalEfectivoEnCaja | number:'1.2-2' }}
      </strong>
    </div>

  </div>

  <div class="lineBottomGray" *ngIf="datosCorte.totalTarjeta > 0">
    <strong>Pagos con tarjeta</strong>

    <div *ngIf="datosCorte.tarjetas?.length">
      <em>Detalle de vouchers:</em><br>
      <div *ngFor="let t of datosCorte.tarjetas; let i = index">
        {{ i + 1 }}.
        {{ t.referencia }}
        ${{ t.monto | number:'1.2-2' }}
      </div>
    </div>
    <div style="text-align: end;">
      Total: ${{ datosCorte.totalTarjeta | number:'1.2-2' }}
    </div>
    
  </div>

  <div class="lineBottomGray" *ngIf="datosCorte.totalTransferencia > 0">
    <strong>Transferencias</strong>
    <div *ngIf="datosCorte.transferencias?.length">
      <em>Detalle:</em><br>
      <div *ngFor="let tr of datosCorte.transferencias; let i = index">
        {{ i + 1 }}.
        {{ tr.referencia }}
        ${{ tr.monto | number:'1.2-2' }}
      </div>
    </div>
    <div style="text-align: end;">
      Total: ${{ datosCorte.totalTransferencia | number:'1.2-2' }}
    </div>
  </div>

  <div class="lineBottomGray">
    <strong>Recargas telefónicas</strong><br>
    Saldo inicial:
    ${{ datosCorte.recargas?.saldoInicial | number:'1.2-2' }}<br>

    Recargas vendidas:
    ${{ datosCorte.recargas?.vendidas | number:'1.2-2' }}<br>

    <div style="text-align: end;">
      <strong>
        Saldo telefónico final:
        ${{ datosCorte.recargas?.saldoTeoricoFinal | number:'1.2-2' }}
      </strong>  
    </div>

  </div>

  <div class="desglose-efectivo">
    <div style="text-align: center;">
      <strong>Desglose de efectivo en caja</strong>
    </div>

    <strong>Monedas</strong>

    <table style="width:100%; border-collapse:collapse; margin-top:4px;">
      <thead>
        <tr>
          <th style="text-align:left;">Denom.</th>
          <th style="text-align:left;">Cant.</th>
          <th style="text-align:left;">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>50 c</td><td>_____</td><td>$__________</td></tr>
        <tr><td>$1</td><td>_____</td><td>$__________</td></tr>
        <tr><td>$2</td><td>_____</td><td>$__________</td></tr>
        <tr><td>$5</td><td>_____</td><td>$__________</td></tr>
        <tr><td>$10</td><td>_____</td><td>$__________</td></tr>
        <tr><td>$20</td><td>_____</td><td>$__________</td></tr>
      </tbody>
    </table>

    <div style="margin-top:4px; text-align: end;" >
      <strong>Total en monedas:</strong> $______________
    </div>

    <strong>Billetes</strong>

    <table style="width:100%; border-collapse:collapse; margin-top:4px;">
      <thead>
        <tr>
          <th style="text-align:left;">Denom.</th>
          <th style="text-align:left;">Cant.</th>
          <th style="text-align:left;">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>$20</td><td>_____</td><td>$__________</td></tr>
        <tr><td>$50</td><td>_____</td><td>$__________</td></tr>
        <tr><td>$100</td><td>_____</td><td>$__________</td></tr>
        <tr><td>$200</td><td>_____</td><td>$__________</td></tr>
        <tr><td>$500</td><td>_____</td><td>$__________</td></tr>
        <tr><td>$1,000</td><td>_____</td><td>$__________</td></tr>
      </tbody>
    </table>

    <div style="margin-top:4px; text-align: end;">
      <strong>Total en billetes:</strong> $______________
    </div>

    <div style="margin-top:4px; text-align: end;">
      <strong>Monedas + billetes:</strong> $______________
    </div>

  </div>

  <div style="text-align:center; margin-top:10px; font-size:11px;">
    <em>{{ fraseSeleccionada }}</em>
  </div>

</div>