.filtros {
  display: flex;
  gap: .6rem;
  margin-bottom: .8rem;
  align-items: center;
}

.filtros label {
  font-size: .85rem;
}

select, input {
  padding: .3rem .4rem;
}

.debug {
  max-height: 260px;
  overflow: auto;
  background: #f7f7f7;
  padding: .5rem;
  font-size: .75rem;
}

.kpis {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.kpi-card {
  /* background: #fff; */
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  text-align: center;
}

.kpi-title {
  font-size: 0.85rem;
  /* color: #666; */
  margin-bottom: 0.4rem;
}

.kpi-value {
  font-size: 1rem;
  font-weight: 600;
}

.kpi-card.ventas { border-left: 5px solid #1E88E5; background-color: rgb(121, 205, 253); color: #012eac;}
.kpi-card.utilidad { border-left: 5px solid #2E7D32; background-color: rgb(205, 249, 193); color: #00551c; }
.kpi-card.margen { border-left: 5px solid #6A1B9A; background-color: rgb(245, 207, 250); color: #62027a; }
.kpi-card.ventas-num { border-left: 5px solid #F57C00; background-color: rgb(252, 192, 162); color: #913101; }


.chart-wrapper {
  width: 100%;
  height: 380px;
  min-height: 380px;
  display: block;
}
